.aboutus-pic {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section.aboutus-pic {
    height: 20em;
}

h1 {
    text-align: center;
    margin: auto;
}

.know-more {
    width: 100% !important;
    background-color: #DADADA;
}

.margin-line {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.vision-sec {
  background-color: #569EB6;
}
