.careers-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.careers-img h1 {
    text-align: center;
    color: white;
    margin: 5em 0;
}

.box {
    padding: 4em;
    height: 40em;
}

.box h2 {
    font-size: 4em;
    text-align: center;
}

.box p {
    font-size: 1.5em;
    text-align: justify;
}

.dg {
    background-color: #569EB6;
    color: white;
}

.cc {
    background-color: #C3E7F1;
}